{% include 'dashboard/layout.html' %}
{% block content %}

<div class="jumbotron">
    <h1>Django</h1>
    <p class="lead">Welcome to the Analytical Dashboard</p>
    <p><a href="https://github.com/josh-env/analytical-dashboard" class="btn btn-primary btn-large">Project Github Link</a></p>
</div>
<div class="container justify-content-center">
    <div class="col-md-6">
        <h2>Purpose of the Analytical Dashboard</h2>
        <p>
            The purpose of the analytical dashboard is to allow a company to keep track of their inventory
            items and provide the capability to run, review and print reports on one item or many items to an excel spreadsheet, pdf, or csv.
        </p>
        <p><a class="btn btn-default" href="https://djangobook.com/django-tutorials/">Learn more &raquo;</a></p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Django Documentation Reference</h2>
            <p><a class="btn btn-default" href="https://docs.djangoproject.com/en/5.0/">Django Docs &raquo;</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Aaron's Github</h2>
            <p><a class="btn btn-success" href="#">Aaron's Github</a></p>
        </div>
        <div class="col-md-4">
            <h2>Cameron's Github</h2>
            <p><a class="btn btn-success" href="#">Cameron's Github</a></p>
        </div>
        <div class="col-md-4">
            <h2>Josh's Github</h2>
            <p><a class="btn btn-success" href="#">Josh's Github</a></p>
        </div>
    </div>
</div>
{% endblock %}
